version: 2

workflows:
  version: 2
  build:
    jobs:
      - build_lowest
      - build_highest

defaults: &defaults
  docker:
    - image: previousnext/php-apache:7.2-3.x-dev
  working_directory: /data
  steps:
    - checkout
    - restore_cache:
        keys:
          - deps-{{ arch }}
    - run:
        name: "Install Dependencies"
        command: composer update --prefer-dist --no-progress --no-suggest --no-interaction ${PREFER_LOWEST}
    - save_cache:
        key: deps-{{ arch }}
        paths:
          - vendor
    - run:
        name: "Lint"
        command: ./bin/phpcs
    - run:
        name: "Test"
        command: |
          mkdir -p ~/phpunit
          ./bin/phpunit --testsuite unit --log-junit ~/phpunit/phpunit.xml
    - store_test_results:
        path: ~/phpunit
    - store_artifacts:
        path: ~/phpunit

jobs:
  build_lowest:
    <<: *defaults
    docker:
      - image: previousnext/php-apache:7.1-3.x-dev

    environment:
      - PREFER_LOWEST: --prefer-lowest
  build_highest:
    <<: *defaults
    environment:
      - PREFER_LOWEST: ''
